<h1>Should I take an umbrella?</h1>

<form action="/process_umbrella" method="post">
  <label for="user_location">Where are you located?</label>
  <input id="user_location" type="text" name="user_loc">

  <button>Submit</button>
</form>
